@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ov0jec');
  src:  url('fonts/icomoon.eot?ov0jec#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ov0jec') format('truetype'),
    url('fonts/icomoon.woff?ov0jec') format('woff'),
    url('fonts/icomoon.svg?ov0jec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-whatsapp:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}


/* main */
#logo {
  width: 180px ; 
  margin-left: 40px;
}
.navbar {
  background-color:rgba(0, 114, 176, 0.432) !important;
}
.nav-link{
  color:white !important;
}    
.main{
  padding: 20px;
}

.main .carousel-inner img{
  max-height: 80vh;
  object-fit: scale-down ;
}
.carousel-inner{
  position: relative;
}
#carouselExampleInterval .carousel-inner .overlay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-inner .overlay .conteiner  {
  height: 100%;
} 
 .carousel-inner .overlay .conteiner .row {
   height: 100%;
   align-items: center;
   font-size: 10px;
 } 
 .carousel-inner .overlay .conteiner .row  {
    color: rgb(0,115,176);
   font-size: 18px;
 } 
 .carousel-inner .overlay .conteiner .row p {
    color: black;
  
 } 
 #productos{
   color:  rgb(0,115,176) ;
 }
 #imagenmodal{
    width: 100%;
 }
 #nosotrostitulo{
  color:  rgb(0,115,176) ;
 }
 #nosotrosimg{
   position: relative;
 }
 .card-text{
   color: rgb(0,115,176) ;
 }
 #catalogo{
   height: 90%;
   margin-top: 100px;
 }
#card1{
  position: absolute;
  top: 350px;
  right: 0;
  left: 25%;
  
}
#nosotros1{
  margin-top: 150px;

  object-fit: cover;

  
}
/* contacto */
.imagecontacto{
position: relative;
z-index: 0;
justify-content: center;
align-items: center;

}
.icon-instagram{
  color: white;
  font-size: 32px;
  text-decoration: none;
}
.icon-phone{
  color: white;
  font-size: 32px;
  text-decoration: none;
}
.icon-facebook{
  color: white;
  font-size: 32px;
  text-decoration: none;
}
.icon-mail{
  color: white;
  font-size: 32px;
  text-decoration: none;
}
.hoover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 114, 176, 0.432);
  z-index: 1;
  color :white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#titulocontacto{
  text-align: center !important;

}


/* medias */


@media screen and (max-width: 1200px) {
  #card-text {
    font-size: 70%;
  }}
  
  
  @media screen and (max-width: 900px) {
    #card-text{
      font-size: 80%;
    }}
    
    
    @media screen and (max-width: 900px) {
      #card1{
        position: initial;
        width: 100% !important;
      }
      .icon-instagram{
        color: white;
        font-size: 22px;
        text-decoration: none;
      }
      .icon-phone{
        color: white;
        font-size: 22px;
        text-decoration: none;
      }
      .icon-facebook{
        color: white;
        font-size: 22px;
        text-decoration: none;
      }
      .icon-mail{
        color: white;
        font-size: 22px;
        text-decoration: none;
      }  
      
      
     
      
    }
    @media screen and (max-width: 450px) {
      #card1{
        position: initial;
        width: 100% !important;
      }
      #nosotros1{
        margin-top: 0px;
      
        object-fit: cover;
      
        
      }
      #footer{
        font-size: 1px;
      }
      #catalogo{
        margin-top: 0;
      }
      #card-text{
        font-size: 0.9rem;
      }
     
      
    }
    /* medias */